.container {
  text-align:center;
}

nav {
  background-color: black;
  color: white;
  padding: 20px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul{
  display: flex;
  gap: 20px;
  list-style: none;
}

.task-card {
  background: white;
  color: black;
  width: 300px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
}

.stats{
  display: flex;
  justify-content: center;
  gap: 20 px;
  margin: 20px 0;
}

.stat-card{
  background: white;
  color: black;
  padding: 15px;
  border-radius: 10px;
  min-width: 120px;
  text-align: center;
}

.Pending{
  background-color: orange;
  color: white';
}

.In-Progress{
  background-color: blue;
  color: white;
}

.Completed{
  background-color: green;
  color: white;
}

button{
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
}