.container {
  text-align:center;
}

nav {
  background-color: black;
  color: white;
  padding: 20px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul{
  display: flex;
  gap: 20px;
  list-style: none;
}